<div id= "<%= dom_id comment %>">
    <span class="comment-author"> 
        <%= comment.user.username %> 
    </span>
        <%= comment.body %>

    <%= render "likes/like", likeable: comment %>
    
</div>


